.dashboard {
  display: grid;
  padding: 15px 40px;
  gap: 15px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: calc((100vh / 2) - 20px);

  font-size: 2rem;
  background: linear-gradient(-45deg, #aec7fe, #76a3fc);

  .graph {
    min-width: 240px;
    background-color: #e7eeff;
    box-shadow: 2px 2px 16px -4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    .dash-graph {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      overflow: hidden;
    }
  }

  .penguins-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .number {
      font-size: 7rem;
      font-weight: bold;
    }
    .title {
      font-size: 3rem;
    }
  }

  .species-graph {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .ratio-label {
      position: absolute;
      bottom: 20px;
      font-size: 3rem;
      font-weight: bold;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .scatter-graph {
    position: relative;
    z-index: 2;
    .dropdowns-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: flex;
      .dash-dropdown {
        width: 300px;
      }
    }
  }
  .line-graph {
    position: relative;

    .dropdowns-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      display: flex;
      .dash-dropdown {
        width: 300px;
      }
    }
  }
  .graph-md {
    grid-column: span 2 / auto;
  }
  .graph-lg {
    grid-column: span 3 / auto;
  }
  .graph-xl {
    grid-column: span 4 / auto;
  }
  .graph-xxl {
    grid-column: span 6 / auto;
  }
}
